@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Podaj dane do kontaktu:</h4>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post)) ;
    <form name="contactForm" method="post" action="">
        <p>Imię</p>
        <input type="text" name="firstName" />
        <br />
        <br />
        <p>Nazwisko</p>
        <input type="text" name="lastName" />
        <br />
        <br />
        <input type="submit" value="Zapisz" name="btnSub" />
    </form>
</div>
