@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form name="contactForm">
        <p>Imię</p>
        <input type="text" id="firstName" />
        <br />
        <br />
        <p>Nazwisko</p>
        <input type="text" id="lastName" />
        <br />
        <br />
        <button type="submit" id="btnSub">Wyślij</button>
    </form>
</div>
